.main {
  display: flex;
  .posts {
    width: 80%;
  }
  .users {
    width: 20%;
  }
}

// post input textarea
.post-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  .textarea {
    resize: none;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
  }
  input[type=submit] {
    width: 80px;
    color: white;
    line-height: 1.2rem;
    font-size: 1.0rem;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(31, 137, 179);
  }
}

// post list
.feed-post {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  li {
    padding: 5px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
    background-color: rgba($color: #ffffff, $alpha: 1.0);
    box-sizing: border-box;
    .post-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      .post-user {
        display: flex;
        justify-content: space-between;
      }
      .post-content {
        min-height: 60px;
      }
      .post-action {
        display: flex;
        justify-content: flex-end;
        div {
          width: 30px;
        }
      }
    }
  }
}

// modal style
#comment-container {
    position: fixed;
    display: none;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: white, $alpha: 0.4);
    .modal-wrapper {
      display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
      .modal {
        position: absolute;
          top: 10%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 35%;
          width: 90%;
          background-color: white;
          border: 1px solid rgba($color: black, $alpha: 0.4);
          padding: 15px;
          box-shadow: 1px 1px 9px 4px #9b8989;
        form {
          .modal-header {
            display: flex;
            justify-content: space-between;
            font-size: 1.2rem;
            .modal-header-text {
              padding-left: 5px;
            }
            .modal-header-close {
              button {
                border: none;
                background-color: transparent;
                color: red;
                margin: 5px;
                cursor: pointer;
                font-size: 1.2rem;
              }
            }
          }
          .modal-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .textarea {
              resize: none;
              padding: 5px;
              margin: 5px;
              box-sizing: border-box;
              border: 1px solid black;
              border-radius: 5px;
            }
          }
          .modal-footer {
            display: flex;
            justify-content: flex-end;
            input {
              width: 80px;
              color: white;
              line-height: 1.2rem;
              font-size: 1.0rem;
              margin: 5px;
              padding: 2px;
              border-radius: 5px;
              cursor: pointer;
            }
            input[type=button] {
              border: 1px solid red;
              background-color: red;
            }
            input[type=submit] {
              border: 1px solid rgb(31, 137, 179);;
              background-color: rgb(31, 137, 179);;
            }
          }
        }
      }
    }

  
}

.post-comment-list {
  position: relative;
  .comment-count {
    padding-left: 5px;
    .comment-count-text {
      display: inline-block;
      cursor: pointer;
      tooltip {
        z-index: 4;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 100px;
        background: black;
        color: white;
        width: 80px;
        word-wrap: break-word;
        border-radius: 4px;
        border: 1px solid black;
        text {
          display: flex;
          justify-content: center;
          padding: 2px;
          span {
            font-size: 0.8rem;
            color: white;
          }
        }
        text::before {
          content: " ";
          color: white;
          position: absolute;
          top: 4px;
          left: -11px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent #151313 transparent transparent;
      }
      }
    }
    .comment-count-text:hover tooltip{
      visibility: visible;
    }

  }

  .comment-count 
  .feed-post {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    li {
      padding: 5px;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: left;
      box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
      background-color: rgba($color: #ffffff, $alpha: 1.0);
      box-sizing: border-box;
      .post-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        .post-user {
          display: flex;
          justify-content: space-between;
        }
        .post-content {
          min-height: 60px;
        }
        .post-action {
          display: flex;
          justify-content: flex-end;
          div {
            width: 30px;
          }
        }
      }
    }
  }
}


