.post-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box; }
  .post-form .textarea {
    resize: none;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px; }
  .post-form input[type=submit] {
    width: 80px;
    color: white;
    line-height: 1.2rem;
    font-size: 1.0rem;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #1f89b3; }

.feed-post {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box; }
  .feed-post li {
    padding: 5px;
    margin: 10px 0;
    display: flex;
    width: 100%;
    text-align: left;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
    background-color: white;
    box-sizing: border-box; }
    .feed-post li .post-container {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .feed-post li .post-container .post-user {
        display: flex;
        justify-content: space-between; }
      .feed-post li .post-container .post-content {
        min-height: 60px; }
      .feed-post li .post-container .post-action {
        display: flex;
        justify-content: flex-end; }
        .feed-post li .post-container .post-action div {
          width: 30px; }

#comment-container {
  position: fixed;
  display: none;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4); }
  #comment-container .modal-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative; }
    #comment-container .modal-wrapper .modal {
      position: absolute;
      top: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 35%;
      width: 90%;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.4);
      padding: 15px;
      box-shadow: 1px 1px 9px 4px #9b8989; }
      #comment-container .modal-wrapper .modal form .modal-header {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem; }
        #comment-container .modal-wrapper .modal form .modal-header .modal-header-text {
          padding-left: 5px; }
        #comment-container .modal-wrapper .modal form .modal-header .modal-header-close button {
          border: none;
          background-color: transparent;
          color: red;
          margin: 5px;
          cursor: pointer;
          font-size: 1.2rem; }
      #comment-container .modal-wrapper .modal form .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        #comment-container .modal-wrapper .modal form .modal-body .textarea {
          resize: none;
          padding: 5px;
          margin: 5px;
          box-sizing: border-box;
          border: 1px solid black;
          border-radius: 5px; }
      #comment-container .modal-wrapper .modal form .modal-footer {
        display: flex;
        justify-content: flex-end; }
        #comment-container .modal-wrapper .modal form .modal-footer input {
          width: 80px;
          color: white;
          line-height: 1.2rem;
          font-size: 1.0rem;
          margin: 5px;
          padding: 2px;
          border-radius: 5px;
          cursor: pointer; }
        #comment-container .modal-wrapper .modal form .modal-footer input[type=button] {
          border: 1px solid red;
          background-color: red; }
        #comment-container .modal-wrapper .modal form .modal-footer input[type=submit] {
          border: 1px solid #1f89b3;
          background-color: #1f89b3; }
